[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "==4.0"
dj-database-url = "*"
"psycopg2" = "*"
unitypack = "*"

[dev-packages]

[requires]
python_version = "3.6"
