[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "==4.0"
dj-database-url = "*"
"psycopg2" = "*"
unitypack = "*"
httpie = "*"
coreapi = "*"
coreapi-cli = "*"
pyyaml = "*"
django-cors-headers = "*"
jsondiff = "*"
django-filter = "*"
celery = "*"
redis = "*"
flower = "*"
watchdog = "*"
pymysql = "*"
requests-oauthlib = "*"
msgpack = "*"

[dev-packages]

[requires]
python_version = "3.6"
